---
import { Icon } from 'astro-icon/components';
import { siteConfig } from '../config/site';

const { prereleaseSignup } = siteConfig.links;
---

<div class="flex w-full max-w-sm">
  <a
    href={prereleaseSignup}
    class="inline-flex min-h-[52px] w-full items-center justify-center gap-2 rounded-xl bg-primary px-6 py-4 font-semibold text-background transition-colors hover:bg-primary-dark"
  >
    <Icon
      name="simple-icons:googleforms"
      class="h-5 w-5"
    />
    <span>Sign Up for Prerelease Testing</span>
  </a>
</div>
